{% extends "navigation.html" %} {% block title %}Home{% endblock %} {% block email %}{{user.email}}{% endblock %} {% block content
%}
<marquee class="bg-secondary text-light" width="100%" direction="right" height="30px">
  HOME
</marquee>
<h4 align="center">{{user.first_name}}'s Notes</user></h4>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote('{{ note.id }}')">

      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
