{% extends "navigation.html" %} {% block title %}Login{% endblock %} {% block content
%}
<marquee class="bg-secondary text-light" width="100%" direction="right" height="30px">
  SIGN IN
</marquee>
<form method="POST">
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
